
.titleTableHead { width:100%;background:#B15BFF;table-layout:fixed}

.oprButton {border-radius:4px; border:1px solid #3c0000; background-color: #00cc00;}
.oprButton:active {border-radius:4px; border:1px solid #3c0000; background-color: #cc0000;}
